* text=auto eol=lf
*.bat text eol=crlf
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.gif binary
*.ico binary
*.ogg binary
*.wav binary
*.mp3 binary
*.mp4 binary
*.zip binary
*.jar binary
*.mca binary
*.nbt binary
*.schem binary
*.schematic binary
*.ttf binary
*.woff binary
*.woff2 binary
*.pdf binary
